### NULL VALUES HANDLING - CATEGORICAL

In [4]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_csv("Data.csv")

In [3]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

missing country name, missing yes/no

In [8]:
imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")

imputer.fit(data.iloc[:,:].values)
data.iloc[:,:] = imputer.transform(data.iloc[:,:].values)

In [9]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

all column null values have been replaced by the most frequent strategy. 

therefore [:,:]

In previous numerical, we had to replace only numerical values by the mean not most frequent

In [10]:
imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
imputer.fit(data)
data = imputer.transform(data)

In [11]:
data

array([['France', 44.0, 72000.0, 'Yes'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['France', 30.0, 54000.0, 'Yes'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 48000.0, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 27.0, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

gives output in terms of not a proper representation of table. 
(in case of whole table , same strategy)