In [14]:
import numpy as np
import pandas as pd

In [15]:
lst = [1,2,3,4,5,6]

In [16]:
np.array(lst)
#converts list to array

array([1, 2, 3, 4, 5, 6])

In [17]:
pd.Series(lst)
# having data in one direction

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
[lst,lst,lst]
#convert three lists into a single bigger list , two dimensional list

[[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [19]:
pd.Series([lst,lst,lst])
#creates a series of lists

0    [1, 2, 3, 4, 5, 6]
1    [1, 2, 3, 4, 5, 6]
2    [1, 2, 3, 4, 5, 6]
dtype: object

In [20]:
pd.DataFrame([lst,lst,lst])
#better looking dataframe which helps in manipulation of dataset

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6

In [21]:
# we can also name columns
lst1 = [2,3,4,5]
lst2 = [1,0,9,5]
lst3 = [3,7,6,5]
df = pd.DataFrame([lst1,lst2,lst3], columns = ['A','B','C','D'])


# 0 1 2 3 are indexes, we can keep on adding lsts which increases indexes
# columns will be same till the number of elements in list is changed

In [22]:
type(df)

pandas.core.frame.DataFrame